@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  /* Primary Colors */

  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral Colors */

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  /* Typography */

  --font-main: 'League Spartan', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  font-family: var(--font-main);
}

ul {
  list-style: none;
}

.sp {
  background: url(images/bg-pattern-top-desktop.svg) left top no-repeat,
    url(images/bg-pattern-bottom-desktop.svg) right bottom no-repeat
      var(--white);
}

.sp__container {
  max-width: 1206px;
  min-height: 100vh;
  padding: 127px 48px;
  margin: auto;
}

.sp__top-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sp__heading {
  max-width: 415px;
}

.sp__heading h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -1.7px;
  line-height: 1;
  color: var(--very-dark-magenta);
  margin-bottom: 20px;
}

.sp__heading p {
  font-size: 1.23rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 1.4;
  color: var(--dark-grayish-magenta);
}

.sp__ratings {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 540px;
  height: 220px;
}

.sp__ratings li {
  display: flex;
  align-items: center;
  width: 430px;
  padding: 18px 32px;
  border-radius: 8px;
  font-weight: 700;
  color: var(--very-dark-magenta);
  background-color: var(--light-grayish-magenta);
}

.sp__ratings li:not(:last-of-type) {
  margin-bottom: 16px;
}
.sp__ratings li:first-of-type {
  /* margin-left: 15px; */
  align-self: flex-start;
}
.sp__ratings li:nth-of-type(2) {
  /* margin-left: 63px; */
  align-self: center;
}
.sp__ratings li:last-of-type {
  /* margin-left: 110px; */
  align-self: flex-end;
}

.stars-container img {
  width: 16px;
  margin-right: 5px;
}

.stars-container img:nth-of-type(5) {
  margin-right: 30px;
}

.sp__feedbacks-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 72px;
}

.sp__feedback-box {
  width: 350px;
  height: 235px;
  border-radius: 8px;
  padding: 38px 30px;
  color: #fff;
  background-color: var(--very-dark-magenta);
}

.sp__feedback-box:nth-of-type(2) {
  margin-top: 16px;
}
.sp__feedback-box:last-of-type {
  margin-top: 32px;
}

.customer-info {
  display: flex;
  align-items: center;
}

.sp__feedback-box .customer-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 23px;
  overflow: hidden;
}

.sp__feedback-box .customer-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sp__feedback-box .customer-name {
  display: block;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: 700;
}

.sp__feedback-box .customer-state {
  font-size: 1.1rem;
  color: var(--soft-pink);
}

.sp__feedback-box p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 25px;
}

@media (max-width: 992px) {
  .sp__container {
    padding: 80px 48px;
  }
  .sp__top-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .sp__heading h1 {
    margin-bottom: 24px;
  }
  .sp__ratings {
    margin-top: 40px;
  }

  .sp__ratings li:first-of-type {
    align-self: center;
  }

  .sp__ratings li:last-of-type {
    align-self: center;
  }
  .sp__feedback-box {
    margin: 0 !important;
  }
}

@media (max-width: 550px) {
  .sp {
    background: url(images/bg-pattern-top-mobile.svg) left top no-repeat,
      url(images/bg-pattern-bottom-mobile.svg) right bottom no-repeat
        var(--white);
  }

  .sp__container {
    padding: 80px 24px;
  }

  .sp__heading {
    max-width: 327px;
    margin-bottom: 20px;
  }

  .sp__heading h1 {
    font-size: 2.8rem;
    margin-right: auto;
    margin-left: auto;
  }

  .sp__ratings {
    width: 100%;
  }

  .sp__ratings li {
    width: 327px;
    height: 78px;
    justify-content: center;
    flex-direction: column;
  }

  .stars-container {
    margin-bottom: 10px;
  }

  .stars-container img:nth-of-type(5) {
    margin-right: 0;
  }

  .sp__feedback-box {
    width: 327px;
    height: 248px;
  }
}

footer {
  display: inline-block;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: var(--dark-grayish-magenta);
}

footer a {
  text-decoration: none;
  font-weight: 700;
  color: var(--very-dark-magenta);
}

footer a:hover {
  text-decoration: underline;
}
