@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary Colors */

  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral Colors */

  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  /* Typography */

  --font-main: 'League Spartan', sans-serif;
}

html {
  font-size: 15px;
}

body {
  font-family: var(--font-main);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /* padding: 110px 165px 100px; */
  background: url(images/bg-pattern-top-desktop.svg) right 60vw bottom 50vh/45%
      no-repeat,
    url(images/bg-pattern-bottom-desktop.svg) left 25vw top 15vh/75% no-repeat,
    var(--white);
}

.header-wrapper {
  width: 1110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 74px;
}

.hd-left {
  width: 420px;
  height: 247px;
  /* margin-right: 160px; */
  align-self: flex-start;
  justify-self: flex-start;
}

.hd-left h1 {
  color: var(--very-dark-magenta);
  font-size: 3.5rem;
  margin-bottom: 25px;
}

.hd-left p {
  color: var(--dark-grayish-magenta);
  line-height: 1.3;
  font-size: 1.16em;
}

.hd-right {
  width: 540px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hd-right img {
  width: 15px;
  margin-right: 5px;
}

.hd-right img:nth-of-type(5) {
  margin-right: 30px;
}

.rating span {
  /* display: inline-block; */
}

.rating {
  display: flex;
  align-items: center;
  width: 445px;
  height: 55px;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: var(--light-grayish-magenta);
  color: var(--very-dark-magenta);
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.n2 {
  align-self: center;
}

.n3 {
  align-self: flex-end;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  width: 1110px;
  height: 266px;
}

.review {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 350px;
  height: 235px;
  padding: 39px 31px;
  border-radius: 8px;
  background-color: var(--very-dark-magenta);
  margin-right: 30px;
}

.review:nth-of-type(3) {
  margin-right: 0;
}

.name-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.name-container img {
  border-radius: 50%;
  width: 42px;
  margin-right: 20px;
}

.name {
  color: var(--white);
  font-weight: 700;
  margin-bottom: 5px;
}

.name-container span {
  color: var(--soft-pink);
}

.review p {
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 500;
  color: var(--light-grayish-magenta);
}

.rw-2 {
  align-self: center;
}

.rw-3 {
  align-self: flex-end;
}
